*{
  margin: 0;
  
}

 
.image{
  background-size: cover;
  background-repeat: no-repeat;
align-items: center;
  width: 300px;
  height: 200px;
}

.header {
  background-image: url(../preprocessed.jpg);
  position: static;
  width: 349px;
  width: 1308px;
  font-family: 'Lobster';
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;  
  justify-content: space-around; 
  align-items: center;
  height: 30vh;
  list-style: none;
 
}
.header li {
  cursor: pointer; 
  order: 3;
}
.logo img{
  width: 185px;
  height: 186.1px;
  opacity: 0.7;
  border-radius: 100%;
  order: 1;
 background-size: cover;
 position: absolute;

 left: 0em;
 top: 0em;
}
.header a {
  font-size: 5vh;
  text-decoration: none; 
  color: rgb(0, 0, 0); 
}
.header a:hover {
  border-bottom: 1px solid rgb(255, 250, 250); 
}   