body{
    background: rgb(10, 241, 172);
    color: black;
}

.underline{
    text-decoration: underline black;
}

.encadrer-un-contenu{
    border: 1px  solid black;
    padding: 5px;
}

